
html, body {
 font-family: calibri;
 margin: 0;
 padding: 0;
 border: none;
}
a {
 text-decoration: none;
}

.section {
 display: block;
 vertical-align: top;
 padding: 0;
}
.box {
 display: inline-block;
 vertical-align: top;
 padding: 0;
}

.hcenter {
 text-align: center;
}
.border {
 border: 1px solid #ddd;
}
.margin {
 margin: 1vh;
}
.padding {
 padding: 1vh;
}




.mytables {
  border-collapse: collapse;
}
.mytables th {
  border: 1px solid #ddd;
  padding: 0.5vh;
}
.mytables td {
  border: 1px solid #ddd;
  padding: 0.5vh;
  vertical-align: top;
}



 
.code {
  color: #049;
}
.comment {
  color: #2b2f;
}
.inline-code {
  display: inline-block;
  font-weight: normal;
  font-family: monospace;
  padding: 0.3em;
  background-color: #eee;
  margin-left: 0;
  margin-right: 0;
  font-size: 1em;
}


.blue {
 color: #58d;
 font-weight: 450;
 font-size: 1.4em;
}
.pink {
 color: #c5c;
 font-weight: 450;
 font-size: 1.4em;
}
.orange {
 color: #fa2;
 font-weight: 450;
 font-size: 1.4em;
}
.yellow {
 color: #fc0;
 font-weight: 450;
 font-size: 1.4em;
}
.green {
 color: #5c5c;
 font-weight: 450;
 font-size: 1.4em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

